.bg {
  background: url('/BookStore/assets/mainWall_2.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 350px; /*same height as jumbotron */
  top:20px;
  left:0;
  z-index: -1;
}

.jumbotron {
  height: 350px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background: rgb(0, 0, 0); /* This is for ie8 and below */
  background: rgba(0, 0, 0, 0.5); 


}